<button mat-raised-button (click)="openDialog()" color="accent" style="margin-bottom: 15px;">New User</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
    <ng-container [matColumnDef]="tableData.column" *ngFor="let tableData of columnData">
        <th mat-header-cell *matHeaderCellDef>{{tableData.title }}</th>
        <td mat-cell *matCellDef="let element">
            <ng-container
                *ngIf="tableData.column === 'completed' || tableData.column === 'body'; then icons; else normal">
            </ng-container>

            <div #icons *ngIf="tableData.column === 'completed'; then completed; else body">

            </div>

            <ng-template #completed>
                <mat-icon *ngIf="element.completed">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!element.completed">highlight_off</mat-icon>
            </ng-template>

            <ng-template #body>
                
            </ng-template>


            <ng-template #normal>
                {{element[tableData.column]}}
            </ng-template>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->